<footer>
    <div class="container">
      {{footer_widgets}}   
      <div class="social-icons center-block">
        <a href="http://facebook.com/DetroitHTJ"><i class="fa fa-facebook-square"></i></a>
        <a href="http://twitter.com/DetroitHTJ"><i class="fa fa-twitter-square"></i></a>
        <a href="http://lgbtdetroit.tumblr.com"><i class="fa fa-tumblr-square"></i></a>
        <a href="https://www.youtube.com/channel/UCyWGd8thDRcmjgcohi260pw"><i class="fa fa-youtube-square"></i></a>
        <a href="http://instagram.com/LGBTDetroit"><i class="fa fa-instagram"></i></a>
      </div>
      <div class="center-block legal-footer">
        <p class="center-block">© 2015 LGBT Detroit | 41 Burroughs Street, Suite 109, Detroit, MI 48202 | Phone: (313) 285-9733   A Michigan Non Profit 501(c) (3) Organization | Serving the Detroit community since 1994</p>
        <p class="center-block"><a href="{{site.url}}/privacy-policy/">Privacy Policy</a> | <a href="http://visitor.constantcontact.com/manage/optin/ea?v=0019SXlHaK_7KB2qaLfrO9lGg==">Join Our Mailing List</a>  | <a href="{{site.url}}/contact-us/">Contact Us </a></p>
      </div>
      <div class="clearfix"></div>      
    </div>   
  </footer>

